<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-hover">
  <thead>
  <tr class="alert-success">
    <th style="width: 150px;"><%= t "dmnuocsx.stt" %></th>
    <th> <%= t('dmnuocsx.ten') %></th>
    <th><%=  t('dmnuocsx.dmnhomnuocsx_id') %></th>
    <td style="width: 60px;">&nbsp;</td>
  </tr>
  </thead>
  <tbody>
  <% @dmnuocsxes.each do |dmnuocsx| %>
      <tr>
        <td><%= dmnuocsx.stt %></td>
        <td><%= dmnuocsx.ten %></td>
        <td><%= dmnuocsx.dmnhomnuocsx.ten %></td>
        <td><%= link_to edit_danhmuc_dmnuocsx_path(dmnuocsx), data: {remote: true}, :title => t('edit') do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= link_to danhmuc_dmnuocsx_delete_path(dmnuocsx), data: {remote: true}, :title => t('delete') do %>
              <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot id="table_paginate">
  <tr class="text-center">
    <td colspan="4">
      <%= will_paginate @dmnuocsxes, renderer: BootstrapPagination::Rails %>
    </td>
  </tr>
  </tfoot>
</table>