<h1>Listing dmlydohoantras</h1>

<table>
  <thead>
    <tr>
      <th>Stt</th>
      <th>Ten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dmlydohoantras.each do |dmlydohoantra| %>
      <tr>
        <td><%= dmlydohoantra.stt %></td>
        <td><%= dmlydohoantra.ten %></td>
        <td><%= link_to 'Show', dmlydohoantra %></td>
        <td><%= link_to 'Edit', edit_dmlydohoantra_path(dmlydohoantra) %></td>
        <td><%= link_to 'Destroy', dmlydohoantra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dmlydohoantra', new_dmlydohoantra_path %>
