<p id="notice"><%= notice %></p>

<p>
  <strong>Stt:</strong>
  <%= @dmlydohoantra.stt %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @dmlydohoantra.ten %>
</p>

<%= link_to 'Edit', edit_dmlydohoantra_path(@dmlydohoantra) %> |
<%= link_to 'Back', dmlydohoantras_path %>
