<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-hover">
  <thead>
  <tr>
    <th style="width: 50px;"><%= t "dmnhacc.stt" %></th>
    <th> <%= t('dmnhacc.ma') %></th>
    <th> <%= t('dmnhacc.ten') %></th>
    <th> <%= t('dmnhacc.diachi') %></th>

    <th> <%= t('dmnhacc.dt') %></th>


    <th><%=  t('dmnhacc.dmnhomnhacc_id') %></th>
    <td style="width: 60px;">&nbsp;</td>
  </tr>
  </thead>
  <tbody>
  <% @dmnhaccs.each do |dmnhacc| %>
      <tr>
        <td><%= dmnhacc.stt %></td>
        <td><%= dmnhacc.ma %></td>
        <td><%= dmnhacc.ten %></td>
        <td><%= dmnhacc.diachi %></td>

        <td><%= dmnhacc.dt %></td>


        <td><%= dmnhacc.dmnhomnhacc.ten %></td>
        <td><%= link_to edit_danhmuc_dmnhacc_path(dmnhacc), data: {remote: true}, :title => t('edit') do %>
              <i class="glyphicon glyphicon-edit"></i>
          <% end %>
          <%= link_to danhmuc_dmnhacc_delete_path(dmnhacc), data: {remote: true}, :title => t('delete') do %>
              <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
  <tfoot id="table_paginate">
  <tr class="text-center">
    <td colspan="4">
      <%= will_paginate @dmnhaccs, renderer: BootstrapPagination::Rails %>
    </td>
  </tr>
  </tfoot>
</table>