<%= form_for [:admin, @nhapll], :data => {:remote => true}, :html => {:class => "form-horizontal", :role => "form"} do |f| %>
    <div class="col-md-12 col-xs-12">
      <div class="row">
        <ul class="errors text-danger"></ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.sophieu" %></label>

            <div class="col-sm-8">
              <%= f.text_field :sophieu, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.ngaynhap" %></label>

            <div class="col-sm-8">
              <%= f.text_field :ngaynhap, class: "form-control datepicker" %>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('.datepicker').datepicker({
                        format: 'dd/mm/yyyy'
                    });
                });
            </script>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.sohoadon" %></label>

            <div class="col-sm-8">
              <%= f.text_field :sohoadon, class: "form-control" %>
            </div>

          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.ngayhoadon" %></label>

            <div class="col-sm-8">
              <%= f.text_field :ngayhoadon, class: "form-control datepicker" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.bbkiem" %></label>

            <div class="col-sm-8">
              <%= f.text_field :bbkiem, class: "form-control" %>
            </div>

          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.ngaykiem" %></label>

            <div class="col-sm-8">
              <%= f.text_field :ngaykiem, class: "form-control datepicker" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.nhacc" %></label>

            <div class="col-sm-8">
              <%= f.select(:dmnhacc_id, Dmnhacc.all.collect { |c| [c.ten, c.id] }, {:prompt => "Chọn"}, {:class => "form-control"}) %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.nguoigiao" %></label>

            <div class="col-sm-8">
              <%= f.text_field :nguoigiao, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.loai" %></label>

            <div class="col-sm-8">
              <select id="loai" name="loai" class="form-control">
                <option><%= t "nhapkho.nhap.moi" %></option>
                <option><%= t "nhapkho.nhap.tai" %></option>

              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.nguon" %></label>

            <div class="col-sm-8">
              <%= f.select(:dmnguon_id, Dmnguon.all.collect { |c| [c.ten, c.id] }, {:prompt => "Chọn"}, {:class => "form-control"}) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.chietkhau" %></label>

            <div class="col-sm-8">
              <%= f.text_field :chietkhau, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.kho" %></label>

            <div class="col-sm-8">
              <%= f.select(:dmkho_id, Dmkho.all.collect { |c| [c.ten, c.id] }, {:prompt => "Chọn"}, {:class => "form-control"}) %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.tkno" %></label>

            <div class="col-sm-8">
              <%= f.text_field :no, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div class="form-group">
            <label for="stt" class="col-sm-4 control-label "><%= t "nhapkho.tkco" %></label>

            <div class="col-sm-8">
              <%= f.text_field :co, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary ">
          <i class="glyphicon glyphicon-floppy-save bottom-right"></i> <%= t "save" %>
        </button>

        <%= link_to admin_nhaplls_path, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-chevron-left"></i> <%= t "pass" %>
        <% end %>
      </div>
    </div>
<% end %>
