<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <%= t "group" %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to dmnhomnuocsxes_path do %>
                <%= t "category.slidebar.nhomnuoc" %>
            <% end %>
          </li>
          <li><%= link_to dmnhomins_path do %>
                <%= t "category.slidebar.nhomin" %>
            <% end %></li>
          <li><%= link_to dmnhombcs_path do %>
                <%= t "category.slidebar.nhombaocao" %>
            <% end %></li>
          <li><%= link_to dmnhomhangsxes_path do %>
                <%= t "category.slidebar.nhomhangsx" %>
            <% end %></li>
          <li><%= link_to dmnhomnhaccs_path do %>
                <%= t "category.slidebar.nhomnhacc" %>
            <% end %></li>


        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <%= t "navigation" %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to dmnuocsxes_path do %>
                <%= t "category.slidebar.nuocsx" %>
            <% end %>
          </li>
          <li><%= link_to dmhangsxes_path do %>
                <%= t "category.slidebar.hangsx" %>
            <% end %>
          </li>
          <li><%= link_to dmnhaccs_path do %>
                <%= t "category.slidebar.nhacungcap" %>
            <% end %>
          </li>
          <li><%= link_to dmnguons_path do %>
                <%= t "category.slidebar.nguon" %>
            <% end %>
          </li>
          <li><%= link_to dmnhoms_path do %>
                <%= t "category.slidebar.nhom" %>
            <% end %>
          </li>
          <li><%= link_to dmkhos_path do %>
                <%= t "category.slidebar.kho" %>
            <% end %>
          </li>
          <li><%= link_to dmdvts_path do %>
                <%= t "category.slidebar.donvitinh" %>
            <% end %>
          </li>
          <li><%= link_to dmphieus_path do %>
                <%= t "category.slidebar.loaiphieu" %>
            <% end %>
          </li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.khoaphong" %>
            <% end %>
          </li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.trangthietbi" %>
            <% end %>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <%= t "other" %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapsing">
      <div class="panel-body">
        <ul class="nav nav-list">
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.dmnx" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.phamchat" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.nguongoc" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.tinhtrang" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.noisc" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.lydoxuat" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.lydohoantra" %>
            <% end %></li>
          <li><%= link_to "#" do %>
                <%= t "category.slidebar.khaibaogoi" %>
            <% end %></li>
        </ul>
      </div>
    </div>
  </div>


</div>
